@model TH05.Models.AdminUser
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("LoginAccount","LoginUser"))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.NameUser)
            </td>
            <td>
                @Html.TextBoxFor(model => model.NameUser)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.NameUser)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PasswordUser)
            </td>
            <td>
                @Html.TextBoxFor(model => model.PasswordUser)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.PasswordUser)
            </td>

            @if(ViewBag.ErroInfo == null)
            {
                <p>@ViewBag.ErrorInfo</p>
            }
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login"/>
            </td>
        </tr>
    </table>
}

